# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist/
build/

# Environment variables
.env

# IDE and editor specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Other files to ignore
coverage/
*.tgz

#